<div class="hero-banner hero-banner--aqua-emerald">
    <div class="hero-banner__logo">
      <img class="hero-banner__image" src="https://cdn.auth0.com/blog/developer-hub/fastapi-logo.svg" alt="FastAPI logo"/>
    </div>
    <h1 class="hero-banner__headline">Hello, FastAPI World!</h1>
    <p class="hero-banner__description">
    <span>
      This is a sample application that demonstrates the authentication flow for FastAPI web apps using <strong>Auth0</strong>.
    </span>
    </p>
  
    <a
      id="code-sample-link"
      href="https://developer.auth0.com/resources/guides/web-app/fastapi/basic-authentication"
      class="button button--secondary"
      target="_blank"
      rel="noopener noreferrer"
    >
      Check out the FastAPI code sample →
    </a>
  </div>
